@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body{
    background: #F5F5F5;
}
a{
    text-decoration: none;
    line-height: 2;
    cursor: pointer;
    padding: 2px 5px;
}
.container{
    padding-left: 15%;
    padding-right: 36%;
}